/* ==========================================================================
   Variables
   ========================================================================== */
/* Colors */
@rwd-base-color:#55ACEE;
@rwd-white:#FFFFFF;
@rwd-light-gray:#E5E5E5;
@rwd-dark-gray:#999999;
@rwd-menu:;
@rwd-menu-hover:;

/* Fonts */
@rwd-font-opensans: 'Open Sans', Helvetica, sans-serif;
@rwd-font-sourcesanspro: 'Source Sans Pro', Helvetica, sans-serif;

/* Font Size */
@rwd-base:18;
@rwd-h1:36;
@rwd-h2:34;
@rwd-h3:32;
@rwd-h4:30;
@rwd-h5:28;
@rwd-h6:26;
@rwd-menu:26;
@rwd-blockquote:20;

/* Open Sans Font Weights */
@rwd-os-weight-light: 400;
@rwd-os-weight-medium: 600;
@rwd-os-weight-heavy: 800;

/* Source Sans Pro Font Weights */
@rwd-ssp-weight-light: 200;
@rwd-ssp-weight-medium: 400;
@rwd-ssp-weight-heavy: 700;

/* Scaffolding */
@rwd-jumboheader-height: 25em;
@rwd-jumbofooter-height: 15em;